<div class="ce_navlist_container">
	<ul>  
		<li class="ce_navlist">
			<span><a href="#" title="" ><i class="fa fa-file-o"></i>&nbsp;学生成绩</a></span>
		</li>
		<li class="ce_navlist">
			<span><a href="#" title="" ><i class="fa fa-bar-chart-o" style="font-size:18px; padding-right:6px;"></i>&nbsp;统计分析</a></span>
		</li>
    </ul>
</div>