<div class="ce_navlist_container">
	<ul>  
        <li class="ce_navlist">
			<span><a href="/account/teacherlist" title="" ><i class="fa fa-tv" style="font-size:19px; padding-right:6px;"></i>&nbsp;老师账号</a></span>
		</li>        	
        <li class="ce_navlist">
			<span><a href="/account/studentlist" title="" ><i class="fa fa-user" style="padding-right:12px;"></i>&nbsp;学生账号</a></span>
		</li>
        <li class="ce_navlist">
			<span><a href="/item/courselist" title="" ><i class="fa fa-file-o" style="padding-right:12px;"></i>&nbsp;考试课程</a></span>
		</li>
		<li class="ce_navlist">
			<span><a href="#" title="" ><i class="fa fa-edit"></i>&nbsp;操作日志</a></span>
		</li>
		<li class="ce_navlist">
			<span><a href="#" title="" ><i class="fa fa-cog"></i>&nbsp;系统设置</a></span>
		</li>
		<li class="ce_navlist">
			<span><a href="#" title="" ><i class="fa fa-star-o"></i>&nbsp;帮助中心</a></span>
		</li>
    </ul>
</div>