<div class="modal-header">
    <a type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></a>
    <span class="modal-title">添加</span>
</div>
<div class="modal-body">
    <span class="red block padding_b5" id="tip_add"></span>
    <div class="input-group">
        <span class="input-group-addon">章节名称：</span>
        <input type="text" class="form-control" id="name_add" maxlength="30"/>
        <span class="input-group-addon handcursor" onclick="javascript:startAdd();">
            <span class="font18"><i class="fa fa-plus"></i></span>&nbsp;&nbsp;添加
        </span>
    </div>
</div>
<div class="modal-footer"></div>


