@using SLOES.Util
@using SLOES.Model
@using SLOES.DTO
@using SLOES.Service
@{
    string name = string.Empty;

    int id = Convert.ToInt32(ApiQueryUtil.QueryArgByGet("id"));

    ServiceInvokeDTO<Chapter> result = ServiceFactory.Instance.ItemDataService.GetChapterByID(id);
    if (result != null && result.Code == SLOES.Core.InvokeCode.SYS_INVOKE_SUCCESS)
    {
        Chapter chapter = result.Data;
        if (chapter != null)
        {
            name = chapter.Name == null ? string.Empty : chapter.Name;
        }
    }
}

<div class="modal-header">
    <a type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></a>
    <span class="modal-title">修改</span>
</div>
<div class="modal-body">
    <span class="red block padding_b5" id="tip_update"></span>
    <input type="hidden" id="id_update" value="@id"/>
    <div class="input-group">
        <span class="input-group-addon">章节名称：</span>
        <input type="text" class="form-control" id="name_update" maxlength="30" value="@name"/>
        <span class="input-group-addon handcursor" onclick="javascript:startUpdate();">
        <span class="font18"><i class="fa fa-pencil"></i></span>&nbsp;&nbsp;修改</span>
    </div>
</div>
<div class="modal-footer"></div>


