@using SLOES.Util
@using SLOES.Model
@using SLOES.DTO
@using SLOES.Service
@{
    string name = string.Empty;
    string addTime = string.Empty;

    int id = Convert.ToInt32(ApiQueryUtil.QueryArgByGet("id"));

    ServiceInvokeDTO<Chapter> result = ServiceFactory.Instance.ItemDataService.GetChapterByID(id);
    if (result != null && result.Code == SLOES.Core.InvokeCode.SYS_INVOKE_SUCCESS)
    {
        Chapter chapter = result.Data;
        if (chapter != null)
        {
            name = chapter.Name == null ? string.Empty : chapter.Name;
            addTime = chapter.AddTime.ToString("yyyy-MM-dd HH:mm:ss");
        }
    }
}
<div class="modal-header">
    <a type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
    <spanclass="sr-only"></span></a> <span class="modal-title">详情</span>
</div>
<div class="modal-body">
    <table class="inputs-table">
        <tbody>
            <tr>
                <td class="text"> 章节名称：</td>
                <td class="input">@name</td>
            </tr>
            <tr>
                <td class="text">添加时间：</td>
                <td class="input">@addTime</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer"></div>
