<div class="modal-header">
    <a type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></a>
    <span class="modal-title">查询</span>
</div>
<div class="modal-body">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="foretip width70">标题:</span></span>
            <input type="text" class="form-control" id="name_query"/>
        </div>
    </div>
    <div id="query_btn" class="btn btn-block btn-green" onclick="startQuery()">查询</div>
</div>
<div class="modal-footer"></div>


