<div class="modal-header">
    <a type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></a>
    <span class="modal-title">添加</span>
    <span class="red inlineblock aligncenter width500" id="tip_add"></span>
</div>
<div class="modal-body">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon" ><span class="foretip width70"><span class="redstar">*</span>课程名称:</span></span>
            <input type="text" class="form-control" id="name_add"/>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon" ><span class="foretip width70">课程描述:</span></span>
            <input type="text" class="form-control" id="description_add"/>
        </div>
    </div>
    <div id="add_btn" class="btn btn-block btn-green" onclick="startAdd()">添加</div>
</div>
<div class="modal-footer"></div>
